.AppWindow {
    min-height:40vh;
    min-width:20vw;
    background-color: antiquewhite;
    border: 2px solid #1c1b1b;
    overflow:hidden;
 }   
.TitleBar{
    height:3vh;
    width:20vw;
    padding:5px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background:#1c1b1b;
}

.Content{
    padding:5px;
    min-height:37vh;
    max-height:37vh;
    width:20vw;
    background-color: #333332;
}
.closeDiv{
    margin-left:auto;
}
.closeBtn{
    height:3vh;
    width:3vh;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.closeBtn:hover{
    background-color: #4a0000;
}

.title{
    font-size: calc(10px + 1vmin);
}