.AppWindow {
    min-height:40vh;
    min-width:20vw;
    background-color: antiquewhite;
    border: 2px solid rgb(39, 39, 39);
    overflow:hidden;
 }   
.TitleBar{
    height:3vh;
    width:20vw;
    padding:5px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background:rgb(39, 39, 39);
}
.Content{
    padding:5px;
    min-height:37vh;
    max-height:37vh;
    width:20vw;
    background-color: #333332;
}

.closeBtn{
    margin-left:auto
}

.title{
    font-size: calc(10px + 1vmin);
}